#toTop {
  z-index: 90;
  display: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  font-size: $fz-s * 2;
  text-align: center;
  color: $c2nd;
  background-color: $c1st;
  border-radius: 50%;
}

//Button樣式
// .btn {
//   display: inline-block;
//   padding: 6px 12px;
//   text-align: center;
//   white-space: nowrap;
//   user-select: none;
//   border-radius: 20px;
//   background-color: blue;
//   transition: $trsSlow;
//   cursor: pointer;

//   &:hover {
//     filter: brightness(120%);
//   }
// }

// .btnPrimary {
//   color:
//   background-color:
// }

// .btnSecondary{
//   color:
//   background-color:
// }

// .btnTertiary{
//   color:
//   background-color:
// }

body {
  color: #000;
  font-size: $fz-s;
  font-weight: $fw-s;
  // background-color: $c2nd;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: $c2nd;
}

::-webkit-scrollbar-thumb {
  background: $c1st;
  // border-radius: 10px;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $c1st;
  box-shadow: 0px 3px 6px #00000010;
}

.header {
  @include disFlex($jc: space-between);
  padding: 0 4px;

  @include mobile {
    justify-content: center;
    flex-wrap: wrap;
  }

  &__logo {
    @include disFlex($jc: left);
    margin: 8px 0;

    h1 {
      width: 50px;
      height: 50px;
      background-image: url(../images/logo.svg);
      background-size: cover;
      text-indent: 101%;
      white-space: nowrap;
      overflow: hidden;

      @include mobile {
        margin-right: 20px;
        width: 30px;
        height: 30px;
      }
    }

    img {
      width: 120px;

      @include mobile {
        display: none;
      }
    }
  }

  &__nav {
    @include disFlex;

    li {
      @include disFlex;
      position: relative;
      margin-right: 20px;
      font-weight: $fw-l;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }

      p {
        z-index: 1;
      }

      p::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0%;
        border-bottom: 10px solid #fff;
        transform: translateX(-50%);
        transition: $trsFast;
        z-index: -1;
      }

      p:hover::after {
        width: 120%;
        z-index: -1;
      }

      i {
        margin-left: 2px;
        font-size: $fz-s * 0.5;
        z-index: 1;
      }

      input {
        padding-left: 8px;
        height: 30px;
        width: 150px;
      }

      button {
        width: 30px;
        height: 30px;
        color: #fff;
        text-align: left;
        background-color: $c2nd;
      }
    }

    @include mobile {

      li:last-child,
      li:nth-last-child(2) {
        display: none;
      }

      li:nth-last-child(3) {
        margin-right: 0;
      }
    }
  }
}