#toTop {
  z-index: 90;
  display: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  font-size: $fz-s * 2;
  text-align: center;
  color: $c2nd;
  background-color: $c1st;
  border-radius: 50%;

  @include min-mobile {
    right: 8px;
  }
}

.swalBtn {

  .swal-icon--warning__body,
  .swal-icon--warning__dot {
    background-color: $c1st;
  }

  .swal-icon--warning {
    border-color: $c1st !important;
  }

  button {
    color: $c2nd;
    background-color: $c1st;
    transition: $trsFast;

    &:not([disabled]):hover {
      color: #fff;
      background-color: $c2nd;
    }

    &:not([disabled]):focus {
      box-shadow: 0 0 0 1px #fff, 0 0 0 3px rgb(0 0 0 / 5%);
    }
  }
}

// Button樣式
.btn {
  padding: 12px;
  font-size: $fz-s;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  user-select: none;
  border-radius: $br-s;
  transition: $trsSlow;
  cursor: pointer;

  @include min-mobile {
    padding: 8px;
  }
}

// 實心btn
.btnPrimary {
  color: $c2nd;
  background-color: $c1st;

  &:hover {
    color: #fff;
    background-color: $c2nd;

    @include mobile {
      color: $c2nd;
      background-color: $c1st;
    }
  }
}

// 空心btn
.btnSecondary {
  color: $c2nd;
  border: 1px solid $c1st;
  background-color: #fff;

  &:hover {
    color: $c2nd;
    background-color: $c1st;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 76px;
}

body {
  position: relative;
  color: #000;
  font-size: $fz-s;
  font-weight: $fw-s;
  background-color: $c2nd;
}

.wrap {
  margin: 0 auto;
  max-width: 1200px;
}

// header開始 ------->
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $c1st;
  box-shadow: 0px 3px 6px #00000010;
  z-index: 111;
}

.header {
  @include disFlex($jc: space-between);
  position: relative;
  padding: 0 30px;

  @include mobile {
    flex-wrap: wrap;
    padding: 0 15px;
  }

  a {
    color: $c2nd;
  }

  &__content {
    @include disFlex($jc: space-between);
    margin: 8px 0;

    @include mobile {
      width: 100%;
    }

    &__logo {
      @include disFlex;

      h1 {
        width: 40px;
        height: 40px;
        background-image: url(../images/logo.svg);
        background-size: cover;
        text-indent: 101%;
        white-space: nowrap;
        overflow: hidden;
      }

      img {
        width: 120px;
      }
    }

    &__hamburger {
      display: none;
      border-radius: $br-s;
      background-color: $c2nd;

      @include mobile {
        display: block;
      }

      #hamburger {
        display: none;
      }

      #hamburger:checked+label div span:nth-child(1) {
        background-color: $c2nd;
      }

      #hamburger:checked+label div span:nth-child(2) {
        transform: rotate(-45deg);
      }

      #hamburger:checked+label div span:nth-child(3) {
        top: -9px;
        transform: rotate(45deg);
      }

      div {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 4px;
        width: 40px;
        height: 40px;
      }

      span {
        position: relative;
        top: 0;
        display: block;
        height: 1px;
        background-color: #fff;
        transition: $trsSlow;
      }

      span:nth-child(2),
      span:nth-child(3) {
        margin-top: 8px;
      }
    }
  }

  &__nav {
    display: flex;
    transition: 5s linear;

    @include mobile {
      position: absolute;
      top: 56px;
      left: 0;
      display: none;
      padding: 8px;
      width: 100%;
      background-color: $c4th;
    }

    &__search {
      display: flex;

      input {
        padding: 8px;
        height: 30px;
        width: 25vw;
        border-radius: $br-s 0 0 $br-s;

        @include mobile {
          margin-bottom: 8px;
          width: 100%;
        }
      }

      button {
        width: 30px;
        height: 30px;
        border-radius: 0 $br-s $br-s 0;
        background-size: 20px;
        background-color: $c2nd;
        background-image: url(../images/search.png);
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    &__menu {
      position: relative;
      display: flex;

      @include mobile {
        flex-wrap: wrap;
      }
    }
  }
}

.menu {
  @include disFlex;
  position: relative;
  margin-right: 10px;

  @include mobile {
    justify-content: start;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-bottom: 8px;
    width: 100%;
  }

  // 第一個.menu (新北市)
  &:first-child {
    margin-left: 10px;

    @include mobile {
      margin-left: 20px;
    }
  }

  // 最後一個.menu (登入)
  &:last-child {
    margin-right: 0;
  }

  h3 {
    position: relative;
    font-weight: $fw-l;
    z-index: 1;
    cursor: pointer;

    @include mobile {
      width: 100%;

      span {
        position: absolute;
        top: 12px;
        left: -20px;
        width: 12px;
        height: 1px;
        background-color: $c3rd;
        transition: $trsSlow;
      }

      span.active {
        transform: rotate(270deg);
      }
    }
  }

  // 白色底線
  h3::after {
    content: "";
    position: absolute;
    top: 55%;
    left: 50%;
    width: 0%;
    border-bottom: 10px solid #fff;
    transform: translateX(-50%);
    transition: $trsFast;
    z-index: -1;

    @include mobile {
      display: none;
    }
  }

  // 偽元素不是dom節點，用添加新類的方式呈現
  .active::after {
    left: calc(50% - -4px);
    width: calc(110% + 8px);
  }

  &__district {
    position: relative;
    display: none;
    transition: $trsSlow;

    @include mobile {
      width: 100%;
    }

    ul {
      position: absolute;
      top: 20px;
      right: -11px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding-top: 8px;
      width: 320px;
      border: 1px solid $c4th;
      background-color: #fff;

      @include mobile {
        position: relative;
        top: 0;
        right: 0;
        padding: 8px;
        width: 100%;
        max-height: 300px;
        overflow-y: scroll;
      }

      li {
        padding: 0 4px;
        margin-bottom: 8px;
        color: lighten($c3rd, 40%);
        border-left: 1px solid $c4th;
        transition: $trsFast;

        @include mobile {
          padding: 4px 8px;
          margin: 4px;
          font-size: 18px;
          border: 1px solid $c4th;
          border-radius: $br-s;
        }

        &:hover {
          background-color: $c1st;

          @include mobile {
            background-color: #fff;
          }
        }
      }

      // 5n+1的li沒有左分隔線
      li:nth-child(5n+1) {
        border: none;

        @include mobile {
          border: 1px solid $c4th;
        }
      }

      li:last-child {
        font-weight: $fw-l;
      }
    }
  }

  &__district.active {
    display: block;
  }

  // 其他地區樣式
  .lastDistrict {
    li {
      a {
        display: flex;
      }

      i {
        display: block;
        margin-right: 2px;
        margin-top: 4px;
        color: lighten($c3rd, 40%);
        font-size: $fz-s * 0.6;
      }
    }

    // 先將5n+1的li左分隔線加上
    li:nth-child(5n+1) {
      border-left: 1px solid $c4th;
    }

    // 再將3n+1的li左分隔線刪除
    li:nth-child(3n+1) {
      border: 0;

      @include mobile {
        border: 1px solid $c4th;
      }
    }
  }

  // .menu的icon
  i {
    margin-left: 1px;
    font-size: $fz-s * 0.5;
    color: darken($c1st, 10%);
    transition: $trsFast;
    z-index: 1;

    @include mobile {
      display: none;
    }
  }

  &:hover i,
  i.active {
    color: $c2nd;
  }
}

// header結束 <-------

main {
  padding-top: 56px;
  width: 100%;
  background-color: #fff;

  .contentWrap {
    display: flex;
    justify-content: space-between;
    padding: 0 30px 30px;

    @include mobile {
      flex-wrap: wrap;
      padding: 0 15px 30px;
    }
  }
}

// aside開始 ------->
.aside {
  position: sticky;
  top: 76px;
  width: 200px;
  height: 100%;

  @include mobile {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }

  h5 {
    margin-bottom: 10px;
    padding: 8px 0;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    background-color: $c2nd;
    font-family: 'Archivo Black', sans-serif;

    @include mobile {
      margin-top: 20px;
    }

    @include min-mobile {
      margin-top: 0px;
    }
  }

  &__photo {
    position: relative;
    margin-bottom: 10px;
    width: 200px;
    height: 200px;

    @include mobile {
      display: none;
    }

    span {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 185px;
      height: 185px;
      border-radius: $br-s;
      background-color: $c1st;
    }

    img {
      position: absolute;
      top: 0;
      right: 0px;
      width: 185px;
      height: 185px;
      border-radius: $br-s;
      transition: $trsSlow;
      filter: grayscale(100%) contrast(140%);

      &:hover {
        filter: grayscale(0%) contrast(120%);
      }
    }
  }

  &__info {
    @include disFlex($jc: space-between);
    margin-bottom: 20px;

    @include mobile {
      display: none;
    }

    ul {
      display: flex;
      flex-direction: column;

      @include mobile {
        margin-right: 10px;
      }

      li {
        margin-bottom: 8px;
        transition: $trsFast;
        cursor: pointer;

        &:hover {
          transform: scale(1.2);
        }

        img {
          width: 28px;
        }
      }

      li:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__popularPost {
    margin-bottom: 20px;

    @include mobile {
      padding: 0 1%;
      width: 48%;
    }

    @include min-mobile {
      width: 100%;
    }

    ul {
      li {
        padding: 10px 0;
        border-bottom: 1px solid $c4th;
        line-height: 1.2;
        cursor: pointer;

        a {
          display: flex;
          align-items: center;

          p {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
          }
        }
      }

      li:first-child {
        padding-top: 0;
      }

      li:last-child {
        padding-bottom: 0;
        border-bottom: 0;
      }

      img {
        margin-right: 8px;
        width: 70px;
        min-height: 70px;
        object-fit: cover;
        border-radius: $br-s;
        transition: $trsSlow;
        filter: grayscale(100%) contrast(1.2);

        @include min-mobile {
          width: 150px;
        }
      }

      li:hover img {
        filter: grayscale(0%);
      }
    }
  }

  &__hashtag {
    margin-bottom: 20px;

    @include mobile {
      padding: 0 1%;
      width: 48%;
    }

    @include min-mobile {
      width: 100%;
    }

    li {
      display: inline-block;
      margin-bottom: 4px;
      padding: 2px 6px;
      color: $c2nd;
      font-weight: $fw-m;
      border-radius: $br-s;
      background-color: $c4th;
      transition: $trsFast;

      &:hover {
        color: #000;
        background-color: $c1st;
      }
    }
  }

  &__ad {
    transition: $trsFast;
    filter: grayscale(100%);

    @include mobile {
      display: none;
    }

    &:hover {
      filter: grayscale(0%);
    }

    img {
      border-radius: $br-s;
    }
  }
}

// aside結束 ------->

// footer開始 ------->
.footer {
  color: #fff;

  &__photo {
    width: 100%;
    height: 300px;
    background-image: url(../images/footer.jpg);
    background-size: cover;
    background-position: center;
    filter: grayscale(100%) contrast(1.5);

    @include mobile {
      height: 150px;
    }
  }

  &__info {
    @include disFlex;
    padding: 32px 0 16px;
    width: 90%;
    border-bottom: 1px solid darken($c3rd, 10%);

    li {
      position: relative;
      margin: 0 8px;
      cursor: pointer;

      img {
        display: none;
      }

      a {
        color: #fff;
      }

      @include mobile {
        img {
          display: block;
          width: 40px;
          transition: $trsSlow;
        }

        img:active {
          filter: brightness(.5);
        }

        span {
          display: none;
        }
      }
    }

    // 黃色底線
    li::after {
      content: "";
      position: absolute;
      top: 24px;
      left: 50%;
      width: 0%;
      border-bottom: 4px solid $c1st;
      transform: translateX(-50%);
      transition: $trsFast;
    }

    li:hover::after {
      width: 100%;

      @include mobile {
        width: 0;
      }
    }
  }

  p {
    padding: 8px 0 32px;
    color: darken($c3rd, 5%);
    font-size: $fz-s * 0.8;
    text-align: center;
  }
}

// footer結束 <-------