$fz-s: 16px; //*1.5=24 *2=32 *3=48
$fz-m: 20px;
$fz-l: 24px;

$fw-s: 300;
$fw-m: 400;
$fw-l: bold;
$fw-xl: 700;

$c1st: #ffe60f;
$c2nd: #000;
$c3rd: #535353;
$c4th: #eeeeee;
$c5th: #e60012;

$trsFast: all 0.2s;
$trsSlow: all 0.5s;

$br-s: 4px; 
$br-m: 8px; 
$br-l: 8px;