@import "variable"; // font,color,transition
@import "reset"; // reset,initial
@import "mixin"; // flex、@media
@import "layout"; // header、footer、toTop、button
@import "aside"; // aside

// <strong>: 文字粗體
// <mark>: 文字紅色底線
// <u>: 文字刪除線

.heroSection {
	position: relative;
	margin-bottom: 20px;
	width: 100%;
	height: 450px;
	overflow: hidden;

	&__content {
		position: absolute;
		top: calc(50% - 47px);
		left: calc(50% - 140px);
		width: 280px;
		color: #fff;
		text-align: center;
		z-index: 11;

		h3 {
			font-size: 42px;
			font-weight: $fw-l;
		}
	}

	img {
		min-height: 450px;
		object-fit: cover;
		object-position: 50% 0%;
		filter: brightness(30%);
		animation: heroBannerMove 8s infinite;

		@media (max-width:1200px) {
			margin-top: 0;
		}
	}
}

.article {
	width: 78%;

	@include pad {
		width: 71%;
	}

	@include mobile {
		width: 100%;
	}

	&__top {
		text-align: center;

		h2 {
			margin: 0 24px 10px;
			font-size: 36px;
			font-weight: bold;
			// background: linear-gradient(180deg, transparent 50%, $c1st 0);
			line-height: 1.4;
			text-decoration: underline;
			// text-decoration-color: $c1st;
			text-decoration-color: $c4th;
			// text-decoration-thickness: 20px;
			// text-underline-offset: -12px;
			text-decoration-skip-ink: none;

			@include pad {
				font-size: 30px;
				line-height: 1.2;
				text-decoration-thickness: 16px;
				text-underline-offset: -8px;
			}
		}

		// h2::selection {
		// 	text-decoration: underline $c5th;
		// 	background: #fff;
		// }

		&__date {
			margin-bottom: 10px;
			color: lighten($c3rd, 20%);
			font-size: $fz-s * 0.8;
		}

		&__brief {
			margin-bottom: 20px;
			text-align: left;
		}
	}

	&__middle {
		width: 100%;

		&__catalog {
			@include disFlex($jc: space-between);
			flex-wrap: wrap;
			margin-bottom: 20px;
			padding: 15px;
			width: 300px;
			text-align: left;
			border: 1px solid $c4th;
			border-radius: 4px;

			@include min-mobile {
				width: 100%;
			}

			p {
				font-size: $fz-l;
				font-weight: bold;
			}

			i {
				color: $c4th;
				font-size: $fz-l;
				transition: $trsSlow;
				cursor: pointer;
			}

			i.active {
				color: $c2nd;
				rotate: 225deg;
			}

			.catalogDest {
				width: 100%;
				line-height: 2;

				a {
					padding: 0 4px;
					color: $c2nd;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					display: block;
					transition: $trsFast;
				}

				a::before {
					content: "• ";
				}

				a:hover {
					border-radius: $br-s;
					background-color: $c4th;
				}
			}
		}

		section {
			margin-bottom: 20px;
			padding-bottom: 20px;
			border-bottom: 1px solid $c4th;

			img {
				border-radius: 4px;
			}

			.imgText {
				position: relative;

				>p {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					padding: 4px 12px;
					color: #fff;
					border-radius: $br-s $br-s 0 0;
					background-color: rgba(0, 0, 0, 0.6);
				}
			}

			.fancyBoxImg {
				width: 300px;
			}

			a {
				color: $c2nd;
				text-decoration: underline;
			}

			a:hover {
				text-decoration: none;
			}

			h4 {
				position: relative;
				margin-bottom: 10px;
				text-indent: 1.5rem;
				font-size: $fz-l;
				font-weight: bold;
			}

			h4::before {
				content: '';
				position: absolute;
				top: 7px;
				left: 0;
				width: 20px;
				height: 20px;
				background-image: url(../images/location.svg);
				animation: locationIcon 2s infinite ease-out;
			}

			h5 {
				margin-bottom: 10px;
				font-weight: bold;
			}

			h6 {
				position: relative;
				display: inline-block;
				margin-bottom: 10px;
				text-decoration: underline;
				text-decoration-color: $c1st;
				text-decoration-thickness: 8px;
				text-underline-offset: -4px;
				text-decoration-skip-ink: none;
			}

			h6::before {
				content: '[註]';
				position: absolute;
				right: -25px;
				color: $c3rd;
				font-size: $fz-s * 0.6;
			}

			h6:hover::after {
				content: '滿分5分';
				position: absolute;
				top: 18px;
				right: -45px;
				padding: 4px;
				width: 60px;
				text-align: center;
				color: #fff;
				font-size: $fz-s * 0.6;
				border-radius: 4px;
				background: rgb(0, 0, 0, .6);
			}

			h6::selection {
				text-decoration: underline $c5th;
				background: #fff;
			}

			li {
				margin-bottom: 8px;
			}

			li:last-child {
				margin-bottom: 0px;
			}

			.wikiHref {
				color: $c3rd;
				font-size: $fz-s * 0.5;
			}
		}
	}

	&__mapAndTags {
		margin-bottom: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid $c4th;

		h5 {
			margin-bottom: 10px;
			font-weight: bold;
		}

		#map {
			margin-bottom: 20px;
			width: 100%;
			height: 350px;
			text-align: center;
			border-radius: 4px;
			z-index: 1;
		}

		ul {
			width: 100%;

			li {
				display: inline-block;
				margin-bottom: 4px;
				margin-right: 4px;
				padding: 2px 6px;
				color: $c2nd;
				font-weight: $fw-m;
				border-radius: $br-s;
				background-color: $c4th;
				transition: $trsFast;
				cursor: pointer;

				&:hover {
					color: #000;
					background-color: $c1st;
				}
			}
		}
	}

	&__bottom {
		@include disFlex($jc: space-between, $ai: stretch);

		@include mobile {
			margin-bottom: 20px;
		}

		img {
			margin: 0 10px;
			width: 30px;
			transition: $trsFast;

			@include mobile {
				margin: 0 5px;
				width: 20px;
			}
		}

		p {
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;

			@include mobile {
				-webkit-line-clamp: 2;
			}
		}

		&__prev,
		&__next {
			@include disFlex($jc: space-between, $ai: top);
			position: relative;
			padding: 10px;
			width: 49%;
			border: 1px solid $c1st;
			border-radius: $br-s;
			z-index: 1;
		}

		&__prev {
			text-align: right;

			img {
				rotate: 180deg;
			}
		}

		&__prev::before,
		&__next::before {
			content: "";
			display: block;
			position: absolute;
			background: $c1st;
			transition: $trsSlow;
			border-radius: 4px;
			z-index: -1;
		}

		&__prev::before {
			top: -1px;
			bottom: -1px;
			left: -1px;
			right: 105%;
		}

		&__next::before {
			top: -1px;
			bottom: -1px;
			right: -1px;
			left: 105%;
		}

		&__prev:hover,
		&__next:hover {
			img {
				filter: brightness(350%);
			}

			@include mobile {
				img {
					filter: none;
				}
			}
		}

		&__prev:hover::before {
			right: -1px;

			@include mobile {
				display: none;
			}
		}

		&__next:hover::before {
			left: -1px;

			@include mobile {
				display: none;
			}
		}
	}
}

#articleNone {
	color: $c4th;
	border: 1px solid $c4th;
	background-color: #fff;
	user-select: none;

	img {
		filter: grayscale(100%) brightness(110%);
	}

	&:hover::before {
		display: none;
	}
}

.articleStyle1,
.articleStyle2 {
	@include disFlex($jc: space-between);

	@include mobile {
		flex-wrap: wrap;
	}

	img,
	a[data-fancybox="gallery"] {
		width: 50%;
		max-height: 300px;
		object-fit: cover;

		@include mobile {
			margin-bottom: 10px;
			width: 100%;
			max-height: 100%;
		}
	}

	a[data-fancybox="gallery"] {
		position: relative;

		img {
			width: 100%;
		}
	}

	a[data-fancybox="gallery"]::after {
		content: "點擊看大圖";
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 4px;
		width: 100%;
		color: #fff;
		text-align: center;
		border-radius: 0 0 $br-s $br-s;
		background-color: $c2nd;
	}

	div {
		padding-left: 20px;
		width: 50%;

		@include mobile {
			padding-left: 0;
			width: 100%;
		}
	}
}

.articleStyle2 {
	@include mobile {
		flex-direction: column-reverse;
	}

	div {
		padding-left: 0px;
		padding-right: 20px;
	}
}

.articleStyle3,
.articleStyle4 {
	img {
		margin-bottom: 10px;
		width: 100%;
	}
}

.articleStyle4 {
	li {
		margin-bottom: 10px !important;
	}

	@include mobile {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column-reverse;

		li {
			margin-bottom: 0px !important;
		}
	}
}

.articleStyle5 {
	display: flex;
	justify-content: space-between;
	text-align: center;

	@include pad {
		justify-content: center;
		flex-wrap: wrap;
	}

	&__oneThird {
		width: 32%;

		@include pad {
			margin-bottom: 20px;
			width: 60%;
		}

		@include mobile {
			width: 80%;
		}

		&:last-child {
			margin-bottom: 0;
		}

		img {
			margin-bottom: 8px;
			width: 100%;
			height: 200px;
			object-fit: cover;

			@include pad {
				height: auto;
			}
		}

		h5 {
			margin-bottom: 0px !important;
		}
	}
}

.articleStyle6 {
	#iFrame {
		width: 100%;
		height: 350px;
		border-radius: 4px;
	}
}

@keyframes heroBannerMove {
	0% {
		object-position: 0% 0%;
	}

	50% {
		object-position: 100% 0%;
	}

	100% {
		object-position: 0% 0%;
	}
}

@keyframes locationIcon {
	0% {
		top: 7px;
	}

	20% {
		top: -2px;
		opacity: 0;
	}

	40% {
		top: 7px;
		opacity: 1;
	}

	60% {
		top: 0px;
	}

	100% {
		top: 7px;
	}
}