@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: Helvetica, Arial, "Noto Sans TC", sans-serif;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: #000;
  text-decoration: none;
}

sub {
  vertical-align: sub;
}

input,
select,
textarea {
  border: 0px;
  outline: none;
}

input::-moz-placeholder {
  color: #eeeeee;
}

input:-ms-input-placeholder {
  color: #eeeeee;
}

input::placeholder {
  color: #eeeeee;
}

button {
  border: 0px;
  outline: none;
  cursor: pointer;
}

strong {
  font-weight: bold;
}

mark {
  background: none;
  background-color: none;
  text-decoration: underline;
  -webkit-text-decoration-style: wavy;
          text-decoration-style: wavy;
  -webkit-text-decoration-color: #e60012;
          text-decoration-color: #e60012;
}

u {
  text-decoration: line-through;
}

#toTop {
  z-index: 90;
  display: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  font-size: 32px;
  text-align: center;
  color: #000;
  background-color: #ffe60f;
  border-radius: 50%;
}
@media only screen and (max-width: 428px) {
  #toTop {
    right: 8px;
  }
}

.swalBtn .swal-icon--warning__body,
.swalBtn .swal-icon--warning__dot {
  background-color: #ffe60f;
}
.swalBtn .swal-icon--warning {
  border-color: #ffe60f !important;
}
.swalBtn button {
  color: #000;
  background-color: #ffe60f;
  transition: all 0.2s;
}
.swalBtn button:not([disabled]):hover {
  color: #fff;
  background-color: #000;
}
.swalBtn button:not([disabled]):focus {
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px rgba(0, 0, 0, 0.05);
}

.btn {
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 4px;
  transition: all 0.5s;
  cursor: pointer;
}
@media only screen and (max-width: 428px) {
  .btn {
    padding: 8px;
  }
}

.btnPrimary {
  color: #000;
  background-color: #ffe60f;
}
.btnPrimary:hover {
  color: #fff;
  background-color: #000;
}
@media only screen and (max-width: 992px) {
  .btnPrimary:hover {
    color: #000;
    background-color: #ffe60f;
  }
}

.btnSecondary {
  color: #000;
  border: 1px solid #ffe60f;
  background-color: #fff;
}
.btnSecondary:hover {
  color: #000;
  background-color: #ffe60f;
}
@media only screen and (max-width: 992px) {
  .btnSecondary:hover {
    color: #000;
    background-color: #fff;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 76px;
}

body {
  position: relative;
  color: #000;
  font-size: 16px;
  font-weight: 300;
  background-color: #000;
}

.wrap {
  margin: 0 auto;
  max-width: 1200px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffe60f;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.062745098);
  z-index: 111;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 30px;
}
@media only screen and (max-width: 768px) {
  .header {
    flex-wrap: wrap;
    padding: 0 15px;
  }
}
.header a {
  color: #000;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
}
@media only screen and (max-width: 768px) {
  .header__content {
    width: 100%;
  }
}
.header__content__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__content__logo h1 {
  width: 40px;
  height: 40px;
  background-image: url(../images/logo.svg);
  background-size: cover;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}
.header__content__logo img {
  width: 120px;
}
.header__content__hamburger {
  display: none;
  border-radius: 4px;
  background-color: #000;
}
@media only screen and (max-width: 768px) {
  .header__content__hamburger {
    display: block;
  }
}
.header__content__hamburger #hamburger {
  display: none;
}
.header__content__hamburger #hamburger:checked + label div span:nth-child(1) {
  background-color: #000;
}
.header__content__hamburger #hamburger:checked + label div span:nth-child(2) {
  transform: rotate(-45deg);
}
.header__content__hamburger #hamburger:checked + label div span:nth-child(3) {
  top: -9px;
  transform: rotate(45deg);
}
.header__content__hamburger div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 4px;
  width: 40px;
  height: 40px;
}
.header__content__hamburger span {
  position: relative;
  top: 0;
  display: block;
  height: 1px;
  background-color: #fff;
  transition: all 0.5s;
}
.header__content__hamburger span:nth-child(2),
.header__content__hamburger span:nth-child(3) {
  margin-top: 8px;
}
.header__nav {
  display: flex;
  transition: 5s linear;
}
@media only screen and (max-width: 768px) {
  .header__nav {
    position: absolute;
    top: 56px;
    left: 0;
    display: none;
    padding: 8px;
    width: 100%;
    background-color: #eeeeee;
  }
}
.header__nav__search {
  display: flex;
}
.header__nav__search input {
  padding: 8px;
  height: 30px;
  width: 25vw;
  font-size: 16px;
  border-radius: 4px 0 0 4px;
}
@media only screen and (max-width: 768px) {
  .header__nav__search input {
    margin-bottom: 8px;
    width: 100%;
  }
}
.header__nav__search button {
  width: 30px;
  height: 30px;
  border-radius: 0 4px 4px 0;
  background-size: 20px;
  background-color: #000;
  background-image: url(../images/search.png);
  background-repeat: no-repeat;
  background-position: center;
}
.header__nav__menu {
  position: relative;
  display: flex;
}
@media only screen and (max-width: 768px) {
  .header__nav__menu {
    flex-wrap: wrap;
  }
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: 10px;
}
@media only screen and (max-width: 768px) {
  .menu {
    justify-content: start;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-bottom: 8px;
    width: 100%;
  }
}
.menu:first-child {
  margin-left: 10px;
}
@media only screen and (max-width: 768px) {
  .menu:first-child {
    margin-left: 20px;
  }
}
.menu:last-child {
  margin-right: 0;
}
.menu h3 {
  position: relative;
  font-weight: 500;
  z-index: 1;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .menu h3 {
    width: 100%;
  }
  .menu h3 span {
    position: absolute;
    top: 12px;
    left: -20px;
    width: 12px;
    height: 1px;
    background-color: #535353;
    transition: all 0.5s;
  }
  .menu h3 span.active {
    transform: rotate(270deg);
  }
}
.menu h3::after {
  content: "";
  position: absolute;
  top: 55%;
  left: 50%;
  width: 0%;
  border-bottom: 10px solid #fff;
  transform: translateX(-50%);
  transition: all 0.2s;
  z-index: -1;
}
@media only screen and (max-width: 768px) {
  .menu h3::after {
    display: none;
  }
}
.menu .active::after {
  left: calc(50% + 4px);
  width: calc(110% + 8px);
}
.menu__district {
  position: relative;
  display: none;
  transition: all 0.5s;
}
@media only screen and (max-width: 768px) {
  .menu__district {
    width: 100%;
  }
}
.menu__district ul {
  position: absolute;
  top: 20px;
  right: -11px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 8px;
  width: 320px;
  border: 1px solid #eeeeee;
  background-color: #fff;
}
@media only screen and (max-width: 768px) {
  .menu__district ul {
    position: relative;
    top: 0;
    right: 0;
    padding: 8px;
    width: 100%;
    max-height: 300px;
    overflow-y: scroll;
  }
}
.menu__district ul li {
  padding: 0 4px;
  margin-bottom: 8px;
  color: #b9b9b9;
  border-left: 1px solid #eeeeee;
  transition: all 0.2s;
}
@media only screen and (max-width: 768px) {
  .menu__district ul li {
    padding: 4px 8px;
    margin: 4px;
    font-size: 18px;
    border: 1px solid #eeeeee;
    border-radius: 4px;
  }
}
.menu__district ul li:hover {
  background-color: #ffe60f;
}
@media only screen and (max-width: 768px) {
  .menu__district ul li:hover {
    background-color: #fff;
  }
}
.menu__district ul li:nth-child(5n+1) {
  border: none;
}
@media only screen and (max-width: 768px) {
  .menu__district ul li:nth-child(5n+1) {
    border: 1px solid #eeeeee;
  }
}
.menu__district ul li:last-child {
  font-weight: 500;
}
.menu__district.active {
  display: block;
}
.menu .lastDistrict li a {
  display: flex;
}
.menu .lastDistrict li i {
  display: block;
  margin-right: 2px;
  margin-top: 4px;
  color: #b9b9b9;
  font-size: 9.6px;
}
.menu .lastDistrict li:nth-child(5n+1) {
  border-left: 1px solid #eeeeee;
}
.menu .lastDistrict li:nth-child(3n+1) {
  border: 0;
}
@media only screen and (max-width: 768px) {
  .menu .lastDistrict li:nth-child(3n+1) {
    border: 1px solid #eeeeee;
  }
}
.menu i {
  margin-left: 1px;
  font-size: 8px;
  color: #dbc400;
  transition: all 0.2s;
  z-index: 1;
}
@media only screen and (max-width: 768px) {
  .menu i {
    display: none;
  }
}
.menu:hover i,
.menu i.active {
  color: #000;
}

main {
  padding-top: 56px;
  width: 100%;
  background-color: #fff;
}
main .contentWrap {
  display: flex;
  justify-content: space-between;
  padding: 0 30px 30px;
}
@media only screen and (max-width: 768px) {
  main .contentWrap {
    flex-wrap: wrap;
    padding: 0 15px 30px;
  }
}

#map {
  z-index: 1;
}
#map .popupContent {
  margin-bottom: 20px;
  text-align: center;
}
#map .popupContent h4 {
  margin-bottom: 3px;
  font-weight: 500;
}
#map .popupContent p {
  margin-top: 0;
  margin-bottom: 8px;
}
#map .popupContent a {
  padding: 4px 12px;
  color: #000;
  font-size: 12.8px;
  font-weight: 400;
  text-decoration: none;
}
#map .popupContent a:hover {
  color: #fff;
  background-color: #000;
}

.footer {
  color: #fff;
}
.footer__photo {
  width: 100%;
  height: 300px;
  background-image: url(../images/footer.jpg);
  background-size: cover;
  background-position: center;
  filter: grayscale(100%) contrast(1.5);
}
@media only screen and (max-width: 768px) {
  .footer__photo {
    height: 150px;
  }
}
.footer__info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 0 16px;
  width: 90%;
  border-bottom: 1px solid #3a3a3a;
}
.footer__info li {
  position: relative;
  margin: 0 8px;
  cursor: pointer;
}
.footer__info li img {
  display: none;
}
.footer__info li a {
  color: #fff;
}
@media only screen and (max-width: 768px) {
  .footer__info li img {
    display: block;
    width: 40px;
    transition: all 0.5s;
  }
  .footer__info li img:active {
    filter: brightness(0.5);
  }
  .footer__info li span {
    display: none;
  }
}
.footer__info li::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 50%;
  width: 0%;
  border-bottom: 4px solid #ffe60f;
  transform: translateX(-50%);
  transition: all 0.2s;
}
.footer__info li:hover::after {
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .footer__info li:hover::after {
    width: 0;
  }
}
.footer p {
  padding: 8px 0 32px;
  color: #464646;
  font-size: 12.8px;
  text-align: center;
}

.aside {
  position: -webkit-sticky;
  position: sticky;
  top: 76px;
  width: 200px;
  height: 100%;
}
@media only screen and (max-width: 768px) {
  .aside {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
}
.aside h5 {
  margin-bottom: 10px;
  padding: 8px 0;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  background-color: #000;
  font-family: "Archivo Black", sans-serif;
}
@media only screen and (max-width: 768px) {
  .aside h5 {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 428px) {
  .aside h5 {
    margin-top: 0px;
  }
}
.aside__photo {
  position: relative;
  margin-bottom: 10px;
  width: 200px;
  height: 200px;
}
@media only screen and (max-width: 768px) {
  .aside__photo {
    display: none;
  }
}
.aside__photo span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 185px;
  height: 185px;
  border-radius: 4px;
  background-color: #ffe60f;
}
.aside__photo img {
  position: absolute;
  top: 0;
  right: 0px;
  width: 185px;
  height: 185px;
  border-radius: 4px;
  transition: all 0.5s;
  filter: grayscale(100%) contrast(140%);
}
.aside__photo img:hover {
  filter: grayscale(0%) contrast(120%);
}
.aside__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
@media only screen and (max-width: 768px) {
  .aside__info {
    display: none;
  }
}
.aside__info ul {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 768px) {
  .aside__info ul {
    margin-right: 10px;
  }
}
.aside__info ul li {
  margin-bottom: 8px;
  transition: all 0.2s;
  cursor: pointer;
}
.aside__info ul li:hover {
  transform: scale(1.2);
}
.aside__info ul li img {
  width: 28px;
}
.aside__info ul li:last-child {
  margin-bottom: 0;
}
.aside__popularPost {
  margin-bottom: 20px;
}
@media only screen and (max-width: 768px) {
  .aside__popularPost {
    padding: 0 1%;
    width: 48%;
  }
}
@media only screen and (max-width: 428px) {
  .aside__popularPost {
    width: 100%;
  }
}
.aside__popularPost ul li {
  padding: 10px 0;
  border-bottom: 1px solid #eeeeee;
  line-height: 1.2;
  cursor: pointer;
}
.aside__popularPost ul li a {
  display: flex;
  align-items: center;
}
.aside__popularPost ul li a p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.aside__popularPost ul li:first-child {
  padding-top: 0;
}
.aside__popularPost ul li:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}
.aside__popularPost ul img {
  margin-right: 8px;
  width: 70px;
  min-height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
  transition: all 0.5s;
  filter: grayscale(100%) contrast(1.2);
}
@media only screen and (max-width: 428px) {
  .aside__popularPost ul img {
    width: 150px;
  }
}
.aside__popularPost ul li:hover img {
  filter: grayscale(0%);
}
.aside__hashtag {
  margin-bottom: 20px;
}
@media only screen and (max-width: 768px) {
  .aside__hashtag {
    padding: 0 1%;
    width: 48%;
  }
}
@media only screen and (max-width: 428px) {
  .aside__hashtag {
    width: 100%;
  }
}
.aside__hashtag li {
  display: inline-block;
  margin-bottom: 4px;
  margin-right: 4px;
  padding: 2px 6px;
  color: #000;
  font-weight: 400;
  border-radius: 4px;
  color: #000;
  background-color: #eeeeee;
  transition: all 0.2s;
}
.aside__hashtag li:hover {
  color: #000;
  background-color: #ffe60f;
}
@media only screen and (max-width: 992px) {
  .aside__hashtag li:hover {
    color: #000;
    background-color: #eeeeee;
  }
}
.aside__ad {
  transition: all 0.2s;
  filter: grayscale(100%);
}
.aside__ad:hover {
  filter: grayscale(0%);
}
@media only screen and (max-width: 768px) {
  .aside__ad .adDesktop {
    display: none;
  }
}
.aside__ad .adMobile {
  display: none;
}
@media only screen and (max-width: 768px) {
  .aside__ad .adMobile {
    display: block;
  }
}
.aside__ad img {
  border-radius: 4px;
}

.heroSection {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  height: 450px;
  overflow: hidden;
}
.heroSection__content {
  position: absolute;
  top: calc(50% - 47px);
  left: calc(50% - 140px);
  width: 280px;
  color: #fff;
  text-align: center;
  z-index: 11;
}
.heroSection__content h3 {
  font-size: 42px;
  font-weight: 500;
}
.heroSection img {
  min-height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 0%;
     object-position: 50% 0%;
  filter: brightness(30%);
  -webkit-animation: heroBannerMove 8s infinite;
          animation: heroBannerMove 8s infinite;
}
@media (max-width: 1200px) {
  .heroSection img {
    margin-top: 0;
  }
}

.article {
  width: 78%;
}
@media only screen and (max-width: 992px) {
  .article {
    width: 71%;
  }
}
@media only screen and (max-width: 768px) {
  .article {
    width: 100%;
  }
}
.article__top {
  text-align: center;
}
.article__top h2 {
  margin: 0 24px 10px;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.4;
  text-decoration: underline;
  -webkit-text-decoration-color: #ffe60f;
          text-decoration-color: #ffe60f;
  text-decoration-thickness: 20px;
  text-underline-offset: -12px;
  -webkit-text-underline-offset: -12px;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media only screen and (max-width: 992px) {
  .article__top h2 {
    font-size: 30px;
    line-height: 1.2;
    text-decoration-thickness: 16px;
    text-underline-offset: -8px;
  }
}
.article__top__date {
  margin-bottom: 10px;
  color: #868686;
  font-size: 12.8px;
}
.article__top__brief {
  margin-bottom: 20px;
  text-align: left;
}
.article__middle {
  width: 100%;
}
.article__middle__catalog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding: 15px;
  width: 300px;
  text-align: left;
  border: 1px solid #eeeeee;
  border-radius: 4px;
}
@media only screen and (max-width: 428px) {
  .article__middle__catalog {
    width: 100%;
  }
}
.article__middle__catalog p {
  font-size: 24px;
  font-weight: bold;
}
.article__middle__catalog i {
  color: #eeeeee;
  font-size: 24px;
  transition: all 0.5s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.article__middle__catalog i.active {
  color: #000;
  rotate: 225deg;
}
.article__middle__catalog .catalogDest {
  width: 100%;
  line-height: 2;
}
.article__middle__catalog .catalogDest a {
  padding: 0 4px;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  transition: all 0.2s;
}
.article__middle__catalog .catalogDest a::before {
  content: "• ";
}
.article__middle__catalog .catalogDest a:hover {
  border-radius: 4px;
  background-color: #eeeeee;
}
.article__middle section {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
}
.article__middle section img {
  border-radius: 4px;
}
.article__middle section .imgText {
  position: relative;
}
.article__middle section .imgText > p {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 4px 12px;
  color: #fff;
  border-radius: 4px 4px 0 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.article__middle section .fancyBoxImg {
  width: 300px;
}
.article__middle section a {
  color: #000;
  text-decoration: underline;
}
.article__middle section a:hover {
  text-decoration: none;
}
.article__middle section h4 {
  position: relative;
  margin-bottom: 10px;
  text-indent: 1.5rem;
  font-size: 24px;
  font-weight: bold;
}
.article__middle section h4::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 20px;
  height: 20px;
  background-image: url(../images/location.svg);
  -webkit-animation: locationIcon 2s infinite ease-out;
          animation: locationIcon 2s infinite ease-out;
}
.article__middle section h5 {
  margin-bottom: 10px;
  font-weight: bold;
}
.article__middle section h6 {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
  text-decoration: underline;
  -webkit-text-decoration-color: #ffe60f;
          text-decoration-color: #ffe60f;
  text-decoration-thickness: 8px;
  text-underline-offset: -4px;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.article__middle section h6::before {
  content: "[註]";
  position: absolute;
  right: -25px;
  color: #535353;
  font-size: 9.6px;
}
.article__middle section h6:hover::after {
  content: "滿分5分";
  position: absolute;
  top: 18px;
  right: -45px;
  padding: 4px;
  width: 60px;
  text-align: center;
  color: #fff;
  font-size: 9.6px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.6);
}
.article__middle section h6::-moz-selection {
  text-decoration: underline #e60012;
  background: #fff;
}
.article__middle section h6::selection {
  -webkit-text-decoration: underline #e60012;
          text-decoration: underline #e60012;
  background: #fff;
}
.article__middle section li {
  margin-bottom: 8px;
}
.article__middle section li:last-child {
  margin-bottom: 0px;
}
.article__middle section .wikiHref {
  color: #535353;
  font-size: 8px;
}
.article__mapAndTags {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
}
.article__mapAndTags h5 {
  margin-bottom: 10px;
  font-weight: bold;
}
.article__mapAndTags #map {
  margin-bottom: 20px;
  width: 100%;
  height: 350px;
  text-align: center;
  border-radius: 4px;
  z-index: 1;
}
.article__mapAndTags ul {
  width: 100%;
}
.article__mapAndTags ul li {
  display: inline-block;
  margin-bottom: 4px;
  margin-right: 4px;
  padding: 2px 6px;
  color: #000;
  font-weight: 400;
  border-radius: 4px;
  background-color: #eeeeee;
  transition: all 0.2s;
  cursor: pointer;
}
.article__mapAndTags ul li:hover {
  color: #000;
  background-color: #ffe60f;
}
.article__bottom {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
@media only screen and (max-width: 768px) {
  .article__bottom {
    margin-bottom: 20px;
  }
}
.article__bottom img {
  margin: 0 10px;
  width: 30px;
  transition: all 0.2s;
}
@media only screen and (max-width: 768px) {
  .article__bottom img {
    margin: 0 5px;
    width: 20px;
  }
}
.article__bottom p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
@media only screen and (max-width: 768px) {
  .article__bottom p {
    -webkit-line-clamp: 2;
  }
}
.article__bottom__prev, .article__bottom__next {
  display: flex;
  justify-content: space-between;
  align-items: top;
  position: relative;
  padding: 10px;
  width: 49%;
  border: 1px solid #ffe60f;
  border-radius: 4px;
  z-index: 1;
}
.article__bottom__prev {
  text-align: right;
}
.article__bottom__prev img {
  rotate: 180deg;
}
.article__bottom__prev::before, .article__bottom__next::before {
  content: "";
  display: block;
  position: absolute;
  background: #ffe60f;
  transition: all 0.5s;
  border-radius: 4px;
  z-index: -1;
}
.article__bottom__prev::before {
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: 105%;
}
.article__bottom__next::before {
  top: -1px;
  bottom: -1px;
  right: -1px;
  left: 105%;
}
.article__bottom__prev:hover img, .article__bottom__next:hover img {
  filter: brightness(350%);
}
@media only screen and (max-width: 768px) {
  .article__bottom__prev:hover img, .article__bottom__next:hover img {
    filter: none;
  }
}
.article__bottom__prev:hover::before {
  right: -1px;
}
@media only screen and (max-width: 768px) {
  .article__bottom__prev:hover::before {
    display: none;
  }
}
.article__bottom__next:hover::before {
  left: -1px;
}
@media only screen and (max-width: 768px) {
  .article__bottom__next:hover::before {
    display: none;
  }
}

#articleNone {
  color: #eeeeee;
  border: 1px solid #eeeeee;
  background-color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#articleNone img {
  filter: grayscale(100%) brightness(110%);
}
#articleNone:hover::before {
  display: none;
}

.articleStyle1,
.articleStyle2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .articleStyle1,
.articleStyle2 {
    flex-wrap: wrap;
  }
}
.articleStyle1 img,
.articleStyle1 a[data-fancybox=gallery],
.articleStyle2 img,
.articleStyle2 a[data-fancybox=gallery] {
  width: 50%;
  max-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (max-width: 768px) {
  .articleStyle1 img,
.articleStyle1 a[data-fancybox=gallery],
.articleStyle2 img,
.articleStyle2 a[data-fancybox=gallery] {
    margin-bottom: 10px;
    width: 100%;
    max-height: 100%;
  }
}
.articleStyle1 a[data-fancybox=gallery],
.articleStyle2 a[data-fancybox=gallery] {
  position: relative;
}
.articleStyle1 a[data-fancybox=gallery] img,
.articleStyle2 a[data-fancybox=gallery] img {
  width: 100%;
}
.articleStyle1 a[data-fancybox=gallery]::after,
.articleStyle2 a[data-fancybox=gallery]::after {
  content: "點擊看大圖";
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 4px;
  width: 100%;
  color: #fff;
  text-align: center;
  border-radius: 0 0 4px 4px;
  background-color: #000;
}
.articleStyle1 div,
.articleStyle2 div {
  padding-left: 20px;
  width: 50%;
}
@media only screen and (max-width: 768px) {
  .articleStyle1 div,
.articleStyle2 div {
    padding-left: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .articleStyle2 {
    flex-direction: column-reverse;
  }
}
.articleStyle2 div {
  padding-left: 0px;
  padding-right: 20px;
}

.articleStyle3 img,
.articleStyle4 img {
  margin-bottom: 10px;
  width: 100%;
}

.articleStyle4 li {
  margin-bottom: 10px !important;
}
@media only screen and (max-width: 768px) {
  .articleStyle4 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .articleStyle4 li {
    margin-bottom: 0px !important;
  }
}

.articleStyle5 {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
@media only screen and (max-width: 992px) {
  .articleStyle5 {
    justify-content: center;
    flex-wrap: wrap;
  }
}
.articleStyle5__oneThird {
  width: 32%;
}
@media only screen and (max-width: 992px) {
  .articleStyle5__oneThird {
    margin-bottom: 20px;
    width: 60%;
  }
}
@media only screen and (max-width: 768px) {
  .articleStyle5__oneThird {
    width: 80%;
  }
}
.articleStyle5__oneThird:last-child {
  margin-bottom: 0;
}
.articleStyle5__oneThird img {
  margin-bottom: 8px;
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (max-width: 992px) {
  .articleStyle5__oneThird img {
    height: auto;
  }
}
.articleStyle5__oneThird h5 {
  margin-bottom: 0px !important;
}

.articleStyle6 #iFrame {
  width: 100%;
  height: 350px;
  border-radius: 4px;
}

@-webkit-keyframes heroBannerMove {
  0% {
    object-position: 0% 0%;
  }
  50% {
    object-position: 100% 0%;
  }
  100% {
    object-position: 0% 0%;
  }
}

@keyframes heroBannerMove {
  0% {
    -o-object-position: 0% 0%;
       object-position: 0% 0%;
  }
  50% {
    -o-object-position: 100% 0%;
       object-position: 100% 0%;
  }
  100% {
    -o-object-position: 0% 0%;
       object-position: 0% 0%;
  }
}
@-webkit-keyframes locationIcon {
  0% {
    top: 7px;
  }
  20% {
    top: -2px;
    opacity: 0;
  }
  40% {
    top: 7px;
    opacity: 1;
  }
  60% {
    top: 0px;
  }
  100% {
    top: 7px;
  }
}
@keyframes locationIcon {
  0% {
    top: 7px;
  }
  20% {
    top: -2px;
    opacity: 0;
  }
  40% {
    top: 7px;
    opacity: 1;
  }
  60% {
    top: 0px;
  }
  100% {
    top: 7px;
  }
}/*# sourceMappingURL=article.css.map */