@import "variable"; // 字級、顏色、速度
@import "reset"; // Reset、初始設定
@import "mixin"; // Flex、@media
@import "layout"; // header、footer、toTop、button

.heroBanner {
	position: relative;
	margin-bottom: 20px;
	width: 100%;
	height: 450px;
	overflow: hidden;

	&__content {
		position: absolute;
		top: calc(50% - 47px);
		left: calc(50% - 140px);
		width: 280px;
		color: #fff;
		text-align: center;
		z-index: 11;

		h3 {
			font-size: 42px;
			font-weight: $fw-l;
		}
	}

	img {
		margin-top: -350px; // 圖片往上推
		min-height: 450px;
		object-fit: cover;
		object-position: 50% 0%;
		filter: brightness(30%);
		animation: heroBannerMove 8s infinite;

		@media (max-width:1200px) {
			margin-top: 0;
		}
	}
}

@keyframes heroBannerMove {
	0% {
		object-position: 0% 0%;
	}

	50% {
		object-position: 100% 0%;
	}

	100% {
		object-position: 0% 0%;
	}
}

.article {
	width: 78%;
	transition: all 0.5s;

	@include pad {
		width: 71%;
	}

	@include mobile {
		width: 100%;
	}

	&__top {
		text-align: center;

		h2 {
			margin: 0 24px 16px;
			font-size: 36px;
			font-weight: bold;
			line-height: 1.4;
			word-break: keep-all;
			text-decoration: underline;
			text-decoration-color: $c1st;
			text-decoration-thickness: 20px;
			text-underline-offset: -12px;
			text-decoration-skip-ink: none;

			@include pad {
				font-size: 30px;
				line-height: 1.2;
				text-decoration-thickness: 16px;
				text-underline-offset: -8px;
			}
		}

		&__date {
			margin-bottom: 10px;
			color: lighten($c3rd, 20%);
			font-size: $fz-s * 0.8;
		}

		&__icon {
			display: flex;
			justify-content: end;
			align-items: end;
			margin-bottom: 10px;

			i {
				padding: 4px;
				font-size: $fz-m;
				transition: $trsFast;
				cursor: pointer;
			}

			i:hover {
				transform: scale(1.2);
			}

			span {
				margin-right: 8px;
			}
		}

		&__brief {
			margin-bottom: 10px;
			text-align: left;
		}

		&__catalog {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			margin-bottom: 10px;
			padding: 15px;
			width: 300px;
			text-align: left;
			border: 1px solid $c4th;
			transition: all 0.1;

			p {
				// margin-bottom: 15px;
				font-size: $fz-l;
				font-weight: $fw-l;
			}

			i {
				margin-bottom: 15px;
				font-size: $fz-l;
				color: $c4th;
				transition: $trsSlow;
				cursor: pointer;
			}

			i.active {
				color: $c2nd;
				rotate: 225deg;
			}

			ul {
				margin-left: -15px;
				padding-left: 15px;
				width: calc(100% + 15px);
				list-style: disc;
				list-style-position: inside;
				height:100px;
				transition: all 0.5s;

				li {
					padding-left: 4px;
					width: 100%;
					line-height: 2;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					transition: $trsSlow;
					cursor: pointer;

					a {
						color: $c2nd;
					}

					&:hover {
						background-color: $c4th;
					}
				}
			}

			ul.close {
				display: none;
			}
		}
	}
}