@import "variable"; // 字級、顏色、速度
@import "reset"; // Reset、初始設定
@import "mixin"; // Flex、@media
@import "layout"; // header、footer、toTop、button

.heroSection {
	// 搜尋後隱藏
	// display: none;
	padding: 30px 0;

	@include mobile {
		padding: 16px 0;
	}
}

.swiper {
	max-width: 1200px;
	max-height: 450px;
	border-radius: $br-m;

	.swiperContent {
		position: relative;

		&__content {
			position: absolute;
			top: 280px;
			right: 0px;
			display: flex;
			width: 500px;
			height: 120px;
			text-align: center;
			z-index: 11;

			@media screen and (max-width: 1200px) {
				right: 30px;
			}

			@include mobile {
				top: 0px;
				left: 15px;
				width: calc(100% - 30px);
			}

			@include min-mobile {
				height: 80px;
			}

			&__left {
				padding-top: 20px;
				width: 25%;
				color: #fff;
				background-color: $c2nd;

				@include mobile {
					border-radius: $br-m 0 0 0;
				}

				@include min-mobile {
					padding-top: 12px;
				}

				h5 {
					margin-top: -20px;
					font-size: 60px;
					font-weight: $fw-l;
					font-family: 'Archivo Black', sans-serif;

					@include min-mobile {
						margin-top: -9px;
						font-size: 30px;
					}
				}
			}

			&__right {
				display: flex;
				align-content: center;
				justify-content: center;
				flex-wrap: wrap;
				padding: 0 20px;
				width: 75%;
				border-radius: 0 $br-s $br-s 0;
				background-color: $c1st;

				@media (max-width: 1200px) {
					border-radius: 0;
				}

				@include mobile {
					justify-content: start;
					text-align: left;
					border-radius: 0 $br-m 0 0;
				}

				@include min-mobile {
					padding: 0 10px;
				}

				p {
					position: relative;
					font-size: $fz-m;
					font-weight: $fw-m;

					@include min-mobile {
						margin-bottom: 4px;
						font-size: $fz-s * 0.6;
					}
				}

				p::after {
					content: "";
					position: absolute;
					top: 16px;
					left: 50%;
					width: 110%;
					border-bottom: 10px solid #fff;
					transform: translateX(-50%);
					transition: $trsFast;
					z-index: -1;

					@include min-mobile {
						top: 6px;
						border-bottom: 8px solid #fff;
					}
				}

				h4 {
					width: 100%;
					font-size: $fz-l;
					font-weight: $fw-l;
					line-height: 1.2;

					@include min-mobile {
						font-size: $fz-s;
					}
				}
			}
		}

		&__photo {
			padding: 0 30px;

			@include mobile {
				padding: 0 15px;
			}

			img {
				width: 100%;
				height: 450px;
				border-radius: $br-m;
				object-fit: cover;
				z-index: 1;
			}
		}
	}

	.swiper-pagination {
		padding-right: 100px;
		text-align: right;

		@include min-mobile {
			padding-right: 40px;
		}


		.swiper-pagination-bullet {
			margin-right: 8px;
			width: 15px;
			height: 15px;
			background: $c1st;

			@include min-mobile {
				width: 10px;
				height: 10px;
			}
		}
	}
}

// 搜尋後出現
.result {
	display: none;
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid $c4th;

	h2 {
		font-size: 36px;
		font-weight: bolder;
		line-height: 1.4;
		text-decoration: underline;
		text-decoration-color: $c1st;
		text-decoration-thickness: 10px;
		text-underline-offset: -4px;
		text-decoration-skip-ink: none;
	}

	p {
		color: lighten($c3rd, 20%);
	}

	span {
		color: $c2nd;
		font-size: $fz-m;
	}
}

.articleList {
	width: 78%;

	@include pad {
		width: 71%;
	}

	@include mobile {
		width: 100%;
	}

	>button {
		width: calc(40% - 4px);

		@include pad {
			margin-bottom: 30px;
			width: 100%;
		}

		span {
			display: inline-block;
			padding-top: 4px;
			width: 12px;
			height: 12px;
			background-image: url(../images/refresh-y.png);
			background-size: cover;
			transition: $trsSlow;
			will-change: transform;
		}

		&:hover {
			span {
				rotate: 180deg;
				background-image: url(../images/refresh.png);
			}
		}
	}

	li {
		display: flex;
		padding-top: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid $c4th;
	}

	li:first-child {
		padding-top: 0;
	}

	li:last-child {
		border-bottom: 0;
	}

	&__photo {
		position: relative;
		margin-right: 10px;
		width: 40%;
		height: 200px;
		overflow: hidden;

		@include min-mobile {
			height: 150px;
		}

		span {
			position: absolute;
			top: 12px;
			padding: 4px;
			width: 80px;
			font-size: $fz-s * 0.8;
			font-weight: bold;
			text-align: center;
			background-color: $c1st;
			z-index: 1;

			@include min-mobile {
				top: 0px;
				width: 100%;
				color: #fff;
				font-size: $fz-s * 0.8;
				background-color: $c2nd;
			}
		}

		img {
			min-height: 200px;
			border-radius: $br-s;
			transition: $trsSlow;
			object-fit: cover;
			filter: grayscale(100%);

			@include min-mobile {
				min-height: 150px;
			}

			&:hover {
				transform: scale(1.2);
				filter: grayscale(0%);
			}
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 60%;

		&__text {
			p {
				margin-bottom: 4px;
				color: lighten($c3rd, 20%);
				font-weight: $fw-s;

				@include min-mobile {
					font-size: $fz-s * 0.8;
				}
			}

			h6 {
				margin-bottom: 4px;
				max-height: 56px;
				font-size: $fz-l;
				font-weight: $fw-l;
				line-height: 1.2;
				overflow: hidden;

				@include pad {
					max-height: 48px;
					font-size: $fz-m;
				}

				@include min-mobile {
					max-height: 55px;
					font-size: $fz-s;
				}
			}

			i {
				color: lighten($c3rd, 20%);
				font-size: $fz-s * 0.8;

				@include min-mobile {
					font-size: $fz-s * 0.6;
				}
			}
		}

		button {
			width: 150px;
		}
	}
}