@import "variable"; // 字級、顏色、速度
@import "reset"; // Reset、初始設定
@import "mixin"; // Flex、@media
@import "layout"; // header、footer、toTop、button

main {
    width: 100%;
    height: 1500px;
    background-color: #fff;
}