@import "variable"; // font,color,transition
@import "reset"; // reset,initial
@import "mixin"; // flex、@media
@import "layout"; // header、footer、toTop、button
@import "aside"; // aside
@import "articleList"; // articleList

.contentWrap {
	margin-top: 20px;
}

.result {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid $c4th;

	h2 {
		font-size: 36px;
		font-weight: bolder;
		line-height: 1.4;
		text-decoration: underline;
		text-decoration-color: $c1st;
		text-decoration-thickness: 10px;
		text-underline-offset: -4px;
		text-decoration-skip-ink: none;
	}

	p {
		color: lighten($c3rd, 20%);
	}

	span {
		color: $c2nd;
		font-size: $fz-m;
	}
}